.about_container {
  text-align: center;

  .about_header {
    #name {
      font-size: 50px;
      font-weight: bold;
      margin-top: 4vh;
    }

    #position {
      font-size: 30px;
      margin-top: 4vh;
    }

    #position_detail {
      font-size: 20px;
    }

    #brief_intro {
      font-size: 20px;
      margin-top: 4vh;
    }
  }

  .about_photo {
    margin-top: 4vh;
  }
}
