.about_container {
  img {
    width: 100%;
  }
}

.history_contaier {
  text-align: left;
  font-size: 50px;
  font-weight: 500;
  color: white;

  .history {
    margin: 3vh 0 3vh 0;
    .year {
      min-width: 15vw;
      display: inline-block;
      margin-right: 2vw;
      color: rgb(255, 224, 45);
    }

    .summary {
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 768px) {
  .history_contaier {
    font-size: 6vw;
    font-weight: 500;
    color: white;
  }
}
