.about_container {
  img {
    width: 100%;
  }
}

.history_contaier {
  text-align: left;
  font-size: 50px;
  font-weight: 500;
  color: white;

  span {
    margin-right: 2vw;
  }

  #year {
    border-bottom: 5px solid yellow;
  }
}
