.board_member_container {
  margin-bottom: 10vh;

  .member {
    margin: 2vh 0 2vh 0;

    #board_name {
      display: inline-block;
      color: rgb(255, 224, 45);
      min-width: 15vw;
    }
  }
}

@media only screen and (max-width: 768px) {
  .board_member_container {
    margin-bottom: 3vh;
    font-size: 5vw;

    .member {
      #board_name {
        min-width: 22vw;
      }
    }
  }
}
