.popup_box {
  background-color: white;
  position: fixed;
  text-align: center;
  margin: 20vh auto;
  padding: 2vw;
  top: 0;
  left: 0;
  right: 0;
  width: 40vw;
  min-height: 20vh;
  z-index: 11;

  p {
    margin: 0;
    margin-bottom: 5vh;
    font-size: 2vw;
    font-weight: 700;
  }

  .contents_area {
    white-space: pre-wrap;
    font-size: 1.5vw;
  }

  .btn_area {
    .button {
      margin: 5vw 5vw 0 5vw;
      width: 10vw;
      font-size: 1.5vw;
    }
  }
}
