.header_logo {
  cursor: pointer;
  display: flex;
  align-items: center;

  #logo_image {
    margin-right: 20px;
    width: 50px;
  }

  #logo_name {
    font-size: 25px;
    font-weight: bolder;
  }
}
