.main_page_container {
  padding: 1vh 15vw 1vh 15vw;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .main_page_container {
    font-size: 3vw;
    padding: 1vh 15vw 1vh 15vw;
    overflow: hidden;
  }
}
