.match_container {
  color: white;
  border: 1px yellow solid;
  display: flex;
  height: 20vh;
  align-items: center;
  text-align: center;
  margin: 2vw 0 2vw 0;

  #match_type_name {
    flex-grow: 1;
    font-size: 3vh;
  }

  .date_and_location {
    flex-grow: 1;
    color: rgb(171, 171, 171);
    #match_date {
      font-size: 3vh;
    }
    #match_location {
      font-size: 2vh;
    }
  }

  .score_area {
    flex-grow: 2;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    word-break: break-all;

    #wtf_area {
      flex-grow: 0;
      width: 10vw;
    }

    #wtf_logo,
    #opposing_team_logo {
      flex-grow: 0;
      width: 5vw;
    }

    #goals_scored {
      flex-shrink: 0;
      width: 5vw;
    }

    #goals_scored {
      flex-shrink: 0;
      width: 5vw;
    }

    #opposing_team_area {
      flex-shrink: 0;
      width: 10vw;
    }
  }
}

@media only screen and (max-width: 768px) {
  .match_container {
    display: block;
    height: fit-content;
    padding: 1vh 0 1vh 0;

    #match_type_name {
      font-size: 3vw;
    }
    .date_and_location {
      #match_date,
      #match_location {
        font-size: 2.5vw;
      }
    }
    .score_area {
      display: flex;
      font-size: 3.5vw;
      margin-top: 2vh;

      #wtf_area {
        flex-grow: 1;
      }

      #wtf_logo,
      #opposing_team_logo {
        flex-grow: 1;
        width: 2vw;
      }

      #goals_scored {
        flex-grow: 1;
      }

      #goals_scored {
        flex-grow: 1;
      }

      #opposing_team_area {
        flex-grow: 1;
      }
    }
  }
}
