.match_container {
  color: white;
  border: 1px yellow solid;
  display: flex;
  height: 20vh;
  align-items: center;
  text-align: center;
  margin: 5vh 0 5vh 0;
  cursor: pointer;
  transition: all ease 0.5s;

  #match_type_name {
    max-width: 13vw;
    word-break: break-all;
    flex-grow: 1;
    font-size: 3vh;
  }

  .date_and_location {
    flex-grow: 1;
    max-width: 17vw;
    word-break: break-all;

    color: rgb(171, 171, 171);
    #match_date {
      font-size: 3vh;
    }
    #match_location {
      font-size: 2vh;
    }
  }

  .score_area {
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    word-break: break-all;

    #wtf_area {
      flex-grow: 0;
      width: 10vw;
    }

    #wtf_logo,
    #opposing_team_logo {
      flex-grow: 0;
      width: 5vw;
    }

    #goals_scored {
      flex-shrink: 0;
      width: 4vw;
    }

    #opposing_team {
      flex-shrink: 0;
      width: 10vw;
    }
  }
}

.match_container:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .match_container {
    display: block;
    height: fit-content;
    padding: 1vh 0 1vh 0;
    cursor: none;

    #match_type_name {
      max-width: 100vw;
      font-size: 3vw;
    }

    .date_and_location {
      max-width: 100vw;
    }

    .date_and_location {
      #match_date,
      #match_location {
        font-size: 2.5vw;
      }
    }
    .score_area {
      display: flex;
      font-size: 3.5vw;
      margin-top: 2vh;

      #wtf_area {
        flex-grow: 1;
      }

      #wtf_logo,
      #opposing_team_logo {
        flex-grow: 1;
        width: 2vw;
      }

      #goals_scored {
        flex-grow: 1;
      }

      #goals_scored {
        flex-grow: 1;
      }

      #opposing_team {
        word-break: keep-all;
        flex-grow: 1;
      }
    }
  }

  .match_container:hover {
    transform: none;
    opacity: 1;
  }
}
