.register_info_area {
  font-size: 3vh;
}

.register_page_container {
  text-align: center;

  p {
    font-size: 2vw;
    margin-top: 0;
  }

  .registered_player_board {
    margin-bottom: 2vh;
  }
}
