.photo_container {
  img {
    display: block;
    width: 30vh;
    height: 50vh;
    object-fit: cover;
    cursor: pointer;
    transition: all ease 0.5s;
  }

  img:hover {
    transform: scale(1.1);
    opacity: 0.4;
  }

  .overlay_text {
    position: absolute;
    color: white;
    max-width: 30vh;
    font-size: 40px;
    margin-top: 25vh;
    animation: slide 0.5s ease-in-out;

    p {
      margin: 0;
    }
  }

  @keyframes slide {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
