@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.typing_area {
  height: inherit;
  text-align: center;
  font-size: 5vw;
  font-weight: 700;

  .typing_result {
    color: rgb(203, 193, 0);
  }

  .typing_cursor {
    color: rgb(203, 193, 0);
    animation: blink-effect 1.5s step-end infinite;
  }
}

@media only screen and (max-width: 768px) {
}
