@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.typing_area {
  height: inherit;
  text-align: center;
  font-size: 5vw;
  font-weight: 700;

  .typing_result {
    color: black;
  }

  .typing_cursor {
    color: black;
    animation: blink-effect 1.5s step-end infinite;
  }
}
