@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.typing_area {
  height: inherit;
  text-align: center;
  font-size: 100px;
  font-family: fantasy;

  .typing_result {
    color: rgb(203, 193, 0);  
  }

  .typing_cursor {
    color: rgb(203, 193, 0);
    animation: blink-effect 1.5s step-end infinite;
  }
}
