.footer {
  display: block;
  background-color: black;
  padding: 0 15vw 2vw 15vw;

  span {
    font-family: sans-serif;
    color: grey;
    font-size: 2vh;
  }

  .icon_area {
    float: right;
    img {
      margin-left: 2vw;
      height: 2.5vh;
    }
  }
}
