.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  justify-content: space-between;
  line-height: 10vh;

  .logo_area {
    margin-left: 7vw;
  }

  .button_area {
    display: flex;
    justify-content: end;
    margin-right: 7vw;

    a {
      text-decoration: none;
    }
  }
}
