.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: black;
  justify-content: space-between;
  line-height: 10vh;
  z-index: 3;
  border-bottom: 0.1px solid rgb(141, 141, 141);

  .logo_area {
    border: none;
    color: black;
    margin-left: 15vw;
  }

  .button_area {
    display: flex;
    justify-content: end;
    margin-right: 15vw;
  }

  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    position: relative;
    align-items: center;
    padding: 2vh 0 2vh 0;
    line-height: 1vh;

    .logo_area {
      margin-left: 4vw;
      padding: 1vh;
    }
  }
}
