.admin_background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin-left: calc(-50vw + 50%);
  z-index: 4;
  background-color: white;
  overflow-y: auto;

  .admin_menu_container {
    background-color: rgb(199, 199, 199);
    padding: 3vh 0 3vh 0;
    border-bottom: 1px solid black;

    button {
      margin: 1vw;
      font-size: 2vw;
      width: fit-content;
    }
  }

  .fragment_container {
    margin: 5vh 0 10vh 0;
  }
}

@media only screen and (max-width: 768px) {
  .admin_background {
    .admin_menu_container {
      .player_register {
        font-size: 4vw;
      }

      button {
        margin: 3vw;
      }
    }
  }
}
