.admin_background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin-left: calc(-50vw + 50%);
  z-index: 3;
  background-color: white;

  .admin_container {
    margin: 10vh 10vw 10vh 10vw;
    button {
      margin: 10vh;
      display: block;
    }
    .player_register {
      font-size: 5vw;
      width: 20vw;
    }
  }
}
